<div class="uiTab9Con" id="Status">
	<div class="pr10">
		<div class="analyItem statusCha">
	        <p class="analyItemTit tx-center">状态</p>
	        <div class="analyItemCon">
	        </div>
	    </div>
	</div>
    <div class="statusScroll pr10">
	    <div class="analyItem  anItemBor anItemBorThree" bank-type="1" data-page="bank">
	        <p class="analyItemTit tx-center">认知</p>
	        <div class="analyItemCon">

	        </div>
	    </div>
	    <div class="analyItem anItemBor anItemBorThree"  bank-type="2" data-page="bank">
	        <p class="analyItemTit tx-center">观念</p>
	        <div class="analyItemCon">

	        </div>
	    </div>
		<div class="analyItem anItemBor anItemBorThree"  bank-type="3" data-page="bank">
	        <p class="analyItemTit tx-center">职责</p>
	        <div class="analyItemCon">

	        </div>
	    </div>
		<div class="analyItem anItemBor anItemBorThree"  bank-type="4" data-page="bank">
	        <p class="analyItemTit tx-center">专业</p>
	        <div class="analyItemCon">

	        </div>
	    </div>
	    
	</div> 
	<div class="pr10">
		<div class="analyItem statusCha anItemBor anItemBorThree" style="margin-top: 1px;" data-page="process"  >
	        <p class="analyItemTit tx-center layerSeBtn">处理</p>
	        <div class="analyItemCon tx-center">
	        </div>
	    </div>
	</div>
</div>
<script>
	$(function(){
		//状态、处理固定
		countstatus();
	})
</script>
