
    <meta name="renderer" content="webkit"><meta http-equiv="X-UA-Compatible" content="IE=8,IE=9,IE=10" /><meta http-equiv="Expires" content="0">
    <meta http-equiv="Cache-Control" content="no-cache"><meta http-equiv="Cache-Control" content="no-store">
    <link href="${ctxStatic}/images/ico/ico.ico" rel="icon" />
    <link rel="stylesheet" href="${ctxStatic}/common/rxui1.0.2.min.css?v=${verStatic}">
    <link rel="stylesheet" href="${ctxStatic}/common/frame.css?v=${verStatic}">
    <link rel="stylesheet" href="${ctxStatic}/common/page-threecolumn.css?v=${verStatic}">
    <link rel="stylesheet" href="${ctxStatic}/common/commonNew.css?v=${verStatic}">
    <link rel="stylesheet" href="${ctxStatic}/common/color.css?v=${verStatic}">
    <link rel="stylesheet" href="${ctxStatic}/css/page-interneluser.css?v=${verStatic}">
    <script src="${ctxStatic}/libs/jquery.min.js?v=${verStatic}" type="text/javascript"></script>
    <script src="${ctxStatic}/common/rxuedv2.0.min.js?v=${verStatic}" type="text/javascript"></script>
    <script src="${ctxStatic}/common/frame.min.js?v=${verStatic}" type="text/javascript"></script>
    <script src="${ctxStatic}/common/New_jquery.mousewheel.js" type="text/javascript" charset="utf-8">//滚轮滚动缩放</script>
    <script src="${ctxStatic}/common/jquery.rotate.min.js" type="text/javascript" charset="utf-8">//图片旋转</script>
    <script src="${ctxStatic}/plugins/layer/layer.js?v=${verStatic}" type="text/javascript"></script>
    <link rel="stylesheet" href="${ctxStatic}/plugins/layer/skin/default/layer.css?v=${verStatic}">
    <script src="${ctxStatic}/plugins/My97DatePicker/WdatePicker.js?v=${verStatic}" type="text/javascript"></script>




