<div class="uiTab9Con pr10" id="Pay">
    <div class="analyItem statusCha">
        <p class="analyItemTit tx-center">状态</p>
        <div class="analyItemCon">
		</div>
    </div>
	<div class="statusScroll">
		<div class="analyItem anItemBor anItemBorThree" data-page="course">
			<p class="analyItemTit tx-center">课程1</p>
			<div class="analyItemCon">
				<p class="fl col-md-6"><span class="cLightGray pr8">名称</span><span title="企业历程（第一个十年）">企业历程（第一个十年）</span></p>
				<p class="fl col-md-3"><span class="cLightGray pr8">分数</span><span title="企业历程（第一个十年）">0</span></p>
				<p class="fl col-md-3"><span class="cLightGray pr8">答题</span><span title="企业历程（第一个十年）">-</span></p>
				<a href="javascript:" class="circlemark-purple circlemark">待</a>
			</div>
		</div>
	</div>
</div>
