<style>
	.tc-left .uiTab1 li {
		position: relative;
		width: 25%;
		margin-right: 0;
		text-align: center;
	}
</style>
<ul class="clearfix uiTab1 mb5 jcha1">
	<li><a href="${ctx}/library/index">库</a></li>
	<li class="col-md-2"><a href="${ctx}/appTrain/trainGrade">库(新)</a></li>
	<li  class="uiTab1-active"><a href="javascript:;">函</a></li>
	<li><a href="/train/library/class"><span class="DividingLine hide">┆</span>面</a></li>
	<li><a href="/train/person/home">人</a></li>
</ul>
<div class="daily_title jcha1">
	<ul class="clearfix">
		<li class="title_cur">全</li>
	</ul>
</div>
<div class="contentbox">
	<div class="dailyftSearch clearfix hide">
        <div class="fl uiHas-textIcon">
            <input type="text" class="col-md-12" placeholder="姓名" id="contract_no">
            <i class="uiText-searchIcon bgIcon"></i>
        </div>
    </div>
    <table class="uiTable jcha1">
        <thead>
			<tr class="tr-show">
				<th width="20%" style="padding: 0;">
				  <span class="serial_number">
					姓名<i class="bgIcon select-btn"></i></span>
				</th>
				<th width="20%">
					<select  id="area" class="theadselect regionSelect">
						<option value="">地区</option>
						@for(area in areaEs){
						<option value="${area.dpId!}">${area.dqName!}</option>
						@}
					</select>
				</th>
				<th width="25%">
					<select class="theadselect roleSelect"><option value="">角色</option><option data-dutyname="行政经理" value="34">行政经理</option><option data-dutyname="人事主管" value="35">人事主管</option><option data-dutyname="会计" value="54">会计</option><option data-dutyname="出纳" value="55">出纳</option><option data-dutyname="行政专员" value="91">行政专员</option><option data-dutyname="投资招商" value="30001">投资招商</option><option data-dutyname="管培生" value="587">管培生</option><option data-dutyname="城-行政总经理" value="595">城-行政总经理</option><option data-dutyname="城-人事总监" value="597">城-人事总监</option><option data-dutyname="城-财务总监" value="598">城-财务总监</option></select>
				</th>
				<th width="15%">级别</th>
				<th width="20%">业状</th>
			</tr>
        </thead>
    </table>
    <div class="scroll-content">
    	<table class="uiTable pointertable">
    		<tbody id="tabData">
				@for(user in userList){
				<tr cardNo="${user.cardNo!}"  gradeNew="${user.grade_new!}"  gradeOld="${user.grade_old!}" postId="${user.postId!}" >
					<td width="20%" title="${user.u_xingming!}">${user.u_xingming!}</td>
					<td width="20%">${user.dq_name!}</td>
					<td width="25%" title="${user.postName!}">${strutil.subStringTo (user.postName!,0,4)}</td>
					<td width="15%">${user.grade_new!}</td>
					<td width="20%">
						@if(isEmpty(user.state)){
						<span class="cPurple">待</span>
						@}else{
						<span class="cGreen">完</span>
						@}
					</td>
				</tr>
				@}

    		</tbody>
    	</table>
    </div>
	<div class="clearfix tj_bottom jcha1">
		<p class="col-md-3 cGray">${num!0}</p>
		<p class="col-md-3 cGreen">0</p>
		<p class="col-md-3 cOrange">0</p>
		<p class="col-md-3 cRed">0</p>
	</div>
</div>	
<script>
	$(function(){
		setTimeout(function(){
			$("#tabData tr").eq(0).click();
		})
		//隔行换色
		$(".uiTable tbody tr:visible").each(function(i){
			if(i%2!=0)
			{
				$(this).addClass("trodd")
			}
		})

		$("#area").change(function	(){
            selectOneList($(this).val());
		});
	})
	function selectOneList(dqId) {
        $("#rxprojectLeft").load("one/list",{dqId:dqId},function(){
            countLeft();
        });
    }
</script>

