<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
		<title></title>
		<script src="${ctxStatic}/app/js/font.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="${ctxStatic}/app/css/rxui1.0.2.min.css" />
		<link rel="stylesheet" type="text/css" href="${ctxStatic}/app/css/index.css" />
		<script src="${ctxStatic}/app/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<!--<h3 class="details-title clearfix"><a href="index.html" class="fl back"></a><span></span></h3>-->
		<div class="details-main">
			<div class="pass-title">
				<h1>恭喜答题通过</h1>
				<i></i>
			</div>
			<div class="passBtn">
				<!--<a href="index.html" class="uiBtn-blue uiBtn-normal homeBtn">返回首页</a>-->
			</div>
		</div>
	</body>
</html>
