<div class="info_tit clearfix threeCha pl10 pr5 pb10">
    <h2 class="uiTitle2 fl">
        <i class="uiTitle-icon"></i><span class="ml5 fz14">题库</span>
    </h2>
    <a href="javascript:" class="close_allPopup fr mt5"></a>
</div>
<div class="threeScroll pl10 pr5">
    @for(score in  userScoreList){
    <div class="analyItem  anItemBor  anItemBorFour" bank-id="${score.id!}">
        <p class="analyItemTit tx-center">库${scoreLP.index!}</p>
        <div class="analyItemCon">
            <p class="col-md-4">标题:${score.ext2!}</p>
            <p class="col-md-4">分数:${score.score!}</p>
            <p class="col-md-4">
                @if(score.standard == "优"){
                <span class="circlemark circlemark-lightGreen">${score.standard!}</span>
                @}else if(score.standard == "良"){
                <span class="circlemark circlemark-yellow">${score.standard!}</span>
                @}else{
                <span class="circlemark circlemark-lightRed">差</span>
                @}
            </p>
        </div>
    </div>
    @}
</div>
<div class="boldTopLine pl10 pt10 pr5 threeCha">
	<div class="analyItem">
        <p class="analyItemTit tx-center">综合</p>
        <div class="analyItemCon tx-center">
        	<!--<input type="button" value="确定" onclick="updateTemplateById('${template.id!0}')" class="uiBtn-small uiBtn-blue search-Btn">-->
        </div>
    </div>
</div>

<script>

</script>