<div class="tc-center tc-center-show fl">
    <div class="clearfix">
        <div class="tc-center-tabW tc-center-show">
            <ul class="clearfix uiTab9 j_uiTab9" >
                <li class="uiTab9-active" data-page="status">状态</li>
                <li data-page="set">设</li>
                <li data-page="course">课</li>
            </ul>
        </div>
    </div>
    <div id="j-tc-center-content"></div>
    <script type="text/javascript">
        $(function () {
            //角色列表
            roleList();
        });
    </script>
</div>
<!--添加 展示-->
<div class="fl tc-center tc-center-hide hide">
    <ul class="clearfix uiTab9 j_uiTab9" id="conterHideUlId">
        <li class="uiTab9-active">新增</li>
    </ul>
    <div id="j-tc-center-hide-content">
        <div class="uiTab9Con new-class-add">
            <div class="curr-Warp pr10">
                <div class="uiTabTop">
                    <div class="analyItem">
                        <p class="analyItemTit tx-center">名称</p>
                        <div class="analyItemCon">
                            <div class="clearfix">
                                <textarea id="templateName" class="newClassName form-control" rows="1" style="width: 35%" placeholder="请输入模板名称..."></textarea>
                                <select id="level" class="ml10">
                                    <option>初级</option>
                                    <option>中级</option>
                                    <option>高级</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uiTabCenter">
                    <div class="analyItem">
                        <p class="analyItemTit tx-center">时间</p>
                        <div class="analyItemCon">
                            <div class="clearfix">
                                <p class="col-md-3 fr">
                                    <input name="dayNum" type="text" class="width40 form-control" placeholder="天" oninput = "value=value.replace(/[^\d]/g,'')">
                                    <span class="pr8 cLightGray">天</span>

                                </p>
                                <p class="col-md-3 fr">
                                    <input id="train_hour" type="text" class="width40 form-control" placeholder="小时" disabled="disabled">
                                    <span class="pr8 cLightGray">小时</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="analyItem">
                        <p class="analyItemTit tx-center">目的</p>
                        <div class="analyItemCon">
                            <textarea class="col-md-10 analyEditArea" rows="3" maxlength="500" id="purpose"></textarea>
                        </div>
                    </div>
                    <div class="analyItem">
                        <p class="analyItemTit tx-center">角色</p>
                        <div class="analyItemCon" id="role">
                        </div>
                    </div>
                    <div class="analyItem">
                        <p class="analyItemTit tx-center">类型</p>
                        <div class="analyItemCon">
                            <p class="col-md-6">
                                <span class="pr8 cLightGray fl lh28">类型</span>
                                <select id="type" class="fl">
                                    <option>集训</option>
                                    <option>日常</option>
                                </select>
                            </p>
                            <p class="col-md-6">
                                <span class="pr8 cLightGray fl lh28">拓展</span>
                                <select id="development" class="fl">
                                    <option>技能</option>
                                    <option>心态</option>
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="curr-bottom pr10" align="center">
                <input type="button"  onclick="addTemplate()" value="提交" class="uiBtn-blue uiBtn-normal" id="submitBtn"/>
            </div>
        </div>
    </div>

</div>
<div class="tc-right">
    <div class="tc-righttop-tab j-tc-righttop-tab"></div>
    <div class="tc-right-top clearfix">
        <div class="fl needdealt">
            <ul>
                <li class="bgRed">待办一</li>
                <li class="bgOrange">待办二</li>
                <li class="bgGreen">待办三</li>
            </ul>
        </div>
        <!-- 待办弹窗S -->
        <div class="tc-taskDiv">
            <div class="clearfix">
                <p class="fl">• 标题长度自行调整...</p>
                <i class="fr rig_close">×</i>
            </div>
        </div>
        <!-- 待办弹窗E -->
        <div class="visitbox thinScroll">
            <div class="visit" id="j-visit">
                <div class="visi-list tx-left">
                    <div class="visi-listtop">
                        <span class="visi-name">营</span>
                        <span class="visi-date">07-19 14:55</span>
                    </div>
                    <p class="visi-listtxt">
                        主案设计师系统静态页面已经制作完毕，已经交付开发。
                    </p>
                </div>
                <div class="visi-list tx-right">
                    <div class="visi-listtop">
                        <span class="visi-date mr5">07-19 15:55</span><span class="visi-name">团</span>
                    </div>
                    <p class="visi-listtxt cBlue">
                        今日新增任务：3个，均有必须近期前端制作；
                        <br>在执行任务：5个，均为正常状态；
                        <br>完成任务:2个,其中有个新人未提交验收，明天教一下系统怎么使用，另外一个验收合格。
                    </p>
                </div>
                <div class="visi-list tx-right">
                    <div class="visi-listtop">
                        <span class="visi-date mr5">07-19 15:55</span><span class="visi-name">团</span>
                    </div>
                    <p class="visi-listtxt cBlue">
                        今日新增任务：3个，均有必须近期前端制作；
                        <br>在执行任务：5个，均为正常状态；
                        <br>完成任务:2个,其中有个新人未提交验收，明天教一下系统怎么使用，另外一个验收合格。
                    </p>
                </div>
                <div class="visi-list tx-right">
                    <div class="visi-listtop">
                        <span class="visi-date mr5">07-19 15:55</span><span class="visi-name">团</span>
                    </div>
                    <p class="visi-listtxt cBlue">
                        今日新增任务：3个，均有必须近期前端制作；
                        <br>在执行任务：5个，均为正常状态；
                        <br>完成任务:2个,其中有个新人未提交验收，明天教一下系统怎么使用，另外一个验收合格。
                    </p>
                </div>
                <div class="visi-list tx-right">
                    <div class="visi-listtop">
                        <span class="visi-date mr5">07-19 15:55</span><span class="visi-name">团</span>
                    </div>
                    <p class="visi-listtxt cBlue">
                        今日新增任务：3个，均有必须近期前端制作；
                        <br>在执行任务：5个，均为正常状态；
                        <br>完成任务:2个,其中有个新人未提交验收，明天教一下系统怎么使用，另外一个验收合格。
                    </p>
                </div>
                <div class="visi-list tx-right">
                    <div class="visi-listtop">
                        <span class="visi-date mr5">07-19 15:55</span><span class="visi-name">团</span>
                    </div>
                    <p class="visi-listtxt cBlue">
                        今日新增任务：3个，均有必须近期前端制作；
                        <br>在执行任务：5个，均为正常状态；
                        <br>完成任务:2个,其中有个新人未提交验收，明天教一下系统怎么使用，另外一个验收合格。
                    </p>
                </div>
                <div class="visi-list tx-right">
                    <div class="visi-listtop">
                        <span class="visi-date mr5">07-19 15:55</span><span class="visi-name">团</span>
                    </div>
                    <p class="visi-listtxt cBlue">
                        今日新增任务：3个，均有必须近期前端制作；
                        <br>在执行任务：5个，均为正常状态；
                        <br>完成任务:2个,其中有个新人未提交验收，明天教一下系统怎么使用，另外一个验收合格。
                    </p>
                </div>
                <div class="visi-list tx-right">
                    <div class="visi-listtop">
                        <span class="visi-date mr5">07-19 15:55</span><span class="visi-name">团</span>
                    </div>
                    <p class="visi-listtxt cBlue">
                        今日新增任务：3个，均有必须近期前端制作；
                        <br>在执行任务：5个，均为正常状态；
                        <br>完成任务:2个,其中有个新人未提交验收，明天教一下系统怎么使用，另外一个验收合格。
                    </p>
                </div>
           
            </div>

        </div>
    </div>
    <div class="tc-right-bottom pa10 relative">
        <div class="tc-right-bottom-left relative">
            <ul class="topdaily">
                <li>
                    <a class="topdailybtn" href="javascript:">预留</a>
                </li>
                <li>
                    <a class="topdailybtn" href="javascript:">预留</a>
                </li>
                <li>
                    <a class="topdailybtn" href="javascript:">预留</a>
                </li>
            </ul>
            <div class="dailyrgt-botradio hide">
                <div class="mb10">
                    <label class="uiRadio12 cGreen">
                        <input value="1" type="radio" name="a" class="uiRadio12-input">正常</label>
                    <label class="uiRadio12 cOrange">
                        <input value="2" type="radio" name="a" class="uiRadio12-input">异常</label>
                    <label class="uiRadio12 cRed">
                        <input value="3" type="radio" name="a" class="uiRadio12-input">问题</label>
                </div>
            </div>
            <div class="dailyrgt-divZi">
                <p class="tx-center">先解决业务问题，才有资格说管理。前两个因素完成之后，再反馈系统问题。</p>
            </div>
            <div class="visi-text-content hide">
                <textarea placeholder="请输入回访内容" class="hf-textarea mb10"></textarea>
                <input class="hf-submit" type="submit" value="提交" />
            </div>

        </div>
        <div class="EventpenaltyDiv">
            <a href="javascrpit:;" class="EventpenaltyBtn">预留</a>
            <a href="javascrpit:;" class="EventpenaltyBtn evaluateBtn">评价标签</a>
        </div>
    </div>
	<!--三段弹出层-->
	<div class="layerRtb hide" data-type = "thirdCommonAlert"></div>
	<!--四段弹出层-->
	<div class="layerRtb hide" data-type = "fourCommonAlert"></div>
</div>
<!--调价弹出层-->
<div id="shoplayerAppStoreChangePrice" class="pa10 hide">
	<div class="clearfix mb10">
	    <p class="col-md-8"><span class="cLightGray pr8 justify_span justify_span_w60">材料名称</span><span class="lblMatNameToAPPStoreMore">桑拿板</span></p>
	    <p class="col-md-4"><span class="cLightGray pr8">单位</span><span class="lblUnitNameToAPPStoreMore">根</span></p>
	</div>
	<div class="clearfix mb10">
	    <p class="col-md-8"><span class="cLightGray pr8 justify_span justify_span_w60">规格</span><span class="lblMatSpecToAPPStoreMore">4000mm*100mm*10mm</span></p>
	    <p class="col-md-4"><span class="cLightGray pr8">品牌</span><span class="lblMatBrandToAPPStoreMore">中力</span></p>
	</div>
	<div class="clearfix mb10">
	    <p class="col-md-8"><span class="cLightGray pr8 justify_span justify_span_w60">现价</span><span class="lblMatPriceToAPPStoreMore">441.00</span></p>
	    <p class="col-md-4"><span class="cLightGray pr8">档次</span><span class="lblMatLevelToAPPStoreMore">B</span></p>
	</div>
	<div class="clearfix mb10">
	    <span class="cLightGray pr8 justify_span justify_span_w60 fl">调价</span>
	    <input type="text" id="txtMatPriceToAPPStoreMore">
	</div>
	<div class="clearfix mb10">
	    <span class="cLightGray pr8 justify_span justify_span_w60 fl">说明</span>
	    <textarea rows="3" class="col-md-10" id="txtChangeRemarkToAPPStoreMore"></textarea>
	</div>
</div>
