<div class="info_tit clearfix threeCha pl10 pr5 pb10">
    <h2 class="uiTitle2 fl">
        <i class="uiTitle-icon"></i><span class="ml5 fz14">课程明细</span>
    </h2>
    <a href="javascript:" class="close_allPopup fr mt5"></a>
</div>
<div class="threeScroll pl10 pr5">
	<div class="analyItem">
        <p class="analyItemTit tx-center">信息</p>
        <div class="analyItemCon">
            <div class="clearfix">
                <p class="fl col-md-12">
                    <span class="cLightGray pr8">名称</span>
                    <span>${curriculumCommon.curriculumName!}</span>
                </p>
            </div>
            <div class="clearfix">
                <p class="fl col-md-4">
                    <span class="cLightGray pr8">部门</span>
                    <span>${curriculumCommon.departmentId!}</span>
                </p>
                <p class="fl col-md-4">
                    <span class="cLightGray pr8">角色</span>
                    <span>${curriculumCommon.roleId!}</span>
                </p>
                <p class="fl col-md-4">
                    <span class="cLightGray pr8">级别</span>
                    <span>${curriculumCommon.levelFlag!}</span>
                </p>
            </div>
        </div>
    </div>
    <!--课件列表-->
    @for(ware in courseWareList ){
    <div class="analyItem">
        <p class="analyItemTit tx-center">课件</p>
        <div class="analyItemCon">
            <p class="col-md-6">
                <span class="cLightGray pr8">名称</span>
                <span>${ware.file_name!}</span>
            </p>
            <p class="col-md-2">
                <span class="cLightGray pr8 ">类型</span>
                <span>${ware.file_type!}</span>
            </p>
            <a href="${ware.file_url!}" target="_blank">
                <span class="cBlue fr" title="企业介绍（2018年新版）(1).ppt">预览</span>
            </a>
        </div>
    </div>
    @}

    <div class="analyItem">
        <p class="analyItemTit tx-center">框架</p>
        <div class="analyItemCon">
            ${curriculumCommon.frame!}
        </div>
    </div>

    <!--要点列表-->
    @for( point in pointList ){
    <div class="analyItem">
        <p class="analyItemTit tx-center">要点${pointLP.index}</p>
        <div class="analyItemCon">
            <span>${point.pointContent!}</span>
        </div>
    </div>
    @}

</div>
<div class="boldTopLine pl10 pt10 pr5 threeCha">
	<div class="analyItem">
        <p class="analyItemTit tx-center">结果</p>
        <div class="analyItemCon">
        </div>
    </div>
</div>
