<div class="info_tit clearfix threeCha pl10 pr5 pb10">
    <h2 class="uiTitle2 fl">
        <i class="uiTitle-icon"></i><span class="ml5 fz14">班级名称</span>
    </h2>
    <a href="javascript:" class="close_allPopup fr mt5"></a>
</div>
<div class="threeScroll pl10 pr5">
	<div class="analyItem">
        <p class="analyItemTit tx-center">名称设置</p>
        <div class="analyItemCon">
            <div class="clearfix relative">
                <div class="clearfix">
                    <span class="cLightGray pr8 fl lh28">名称</span>
                    <input name="templateName" value="${template.templateName!}" class="newClassName form-control fl" rows="1" style="width: 35%" placeholder="请输入班级名称..."/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="boldTopLine pl10 pt10 pr5 threeCha">
	<div class="analyItem">
        <p class="analyItemTit tx-center">综合</p>
        <div class="analyItemCon tx-center">
        	<input type="button" value="确定" onclick="updateTemplateById('${template.id}')" class="uiBtn-small uiBtn-blue search-Btn">
        </div>
    </div>
</div>

<script>

</script>