<div class="info_tit clearfix threeCha pl10 pr5 pb10">
    <h2 class="uiTitle2 fl">
        <i class="uiTitle-icon"></i><span class="ml5 fz14">班级名称</span>
    </h2>
    <a href="javascript:" class="close_allPopup fr mt5"></a>
</div>
<div class="threeScroll pl10 pr5" >
    <div class="analyItem">
        <p class="analyItemTit tx-center">名称设置</p>
        <div class="analyItemCon">
            <div class="clearfix relative">
                <div class="clearfix">
                    <span class="cLightGray pr8 fl lh28">名称</span>
                    <textarea class="newClassName form-control fl" rows="1" style="width: 35%" placeholder="请输入班级名称...">${trainClassEntity.className}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="boldTopLine pl10 pt10 pr5 threeCha">

        <div class="analyItem">
            <p class="analyItemTit tx-center">确认</p>
            <div class="analyItemCon clearfix">
                <div class="fr"><input type="button" value="确定" class="fr uiBtn-small uiBtn-blue search-Btn" id="classNameUpdate" value="${trainClassEntity.className}"></div>
            </div>
        </div>

</div>