<div class="info_tit clearfix threeCha pl10 pr5 pb10">
    <h2 class="uiTitle2 fl">
        <i class="uiTitle-icon"></i><span class="ml5 fz14">类型设置</span>
    </h2>
    <a href="javascript:" class="close_allPopup fr mt5"></a>
</div>
<div class="threeScroll pl10 pr5">
    <div class="analyItem">
        <p class="analyItemTit tx-center">类型</p>
        <div class="analyItemCon">

            <p class="col-md-6">
                <span class="pr8 cLightGray fl lh28">类型</span>
                <select id="type_update" class="fl">
                    <option>集训</option>
                    <option>日常</option>
                </select>
            </p>
            <p class="col-md-6">
                <span class="pr8 cLightGray fl lh28">拓展</span>
                <select id="development_update" class="fl">
                    <option>技能</option>
                    <option>心态</option>
                </select>
            </p>

        </div>
    </div>
    <div class="analyItem">
        <p class="analyItemTit tx-center">核心内容</p>
        <div class="analyItemCon">
            <textarea class="col-md-10 analyEditArea" rows="3" maxlength="500" id="train_content_update"></textarea>
        </div>
    </div>

</div>
<div class="boldTopLine pl10 pt10 pr5 threeCha">
    <div class="analyItem">
        <p class="analyItemTit tx-center">确认</p>
        <div class="analyItemCon clearfix">
            <div class="fr"><input id="content_update" type="button" value="确定" class="fr uiBtn-small uiBtn-blue search-Btn"></div>
        </div>
    </div>
</div>