<!--待评分人员列表-->
<div class="info_tit clearfix threeCha pl10 pr5 pb10">
    <h2 class="uiTitle2 fl">
        <i class="uiTitle-icon"></i><span class="ml5 fz14">待评分人员</span>
    </h2>
    <img src="${ctxStatic}/images/pic/fan.png" class="fr pointer closeFour pointer" id="cancelDisplay"/>

</div>

<div class="analyItemCon">

    <table class="uiTable threeCha" width="90%" align="center">
        <thead>
            <tr>
                <th width="10%">序号(0)</th>
                <th width="11%" class="td-show">
                    <span class="serial_number">姓名</span>
                </th>
                <th width="11%">公司</th>
                <th width="11%">职位</th>
            </tr>
        </thead>
    </table>

    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 82px;">
        <div class="daily_R_liftBody threeScroll" data-need-cha="30" style="height: 82px; overflow: hidden; width: auto;">
        <table class="uiTable userWarp choose">
            <tbody class="changecolor">
            @if(isEmpty(peopleList)){

            @}else{
                <input type="hidden" value="${biaoshi}" name="biaoshi">
                @for(data in peopleList){
                <tr class="trian_class_arrive_people " data-type="${data.userName}" data-value="${data.personId}">
                    <td width="10%">${dataLP.index}</td>
                    <td width="11%">${data.userName}</td>
                    <td width="11%">${data.areaName}</td>
                    <td width="11%">${data.postName}</td>
                </tr>
                @}
            @}

            </tbody>
        </table>
    </div>
</div>
</div>
<script>
    $(function(){
        //隔行换色
        changecolor();
    })
</script>