<div class="info_tit clearfix threeCha pl10 pr5 pb10">
    <h2 class="uiTitle2 fl">
        <i class="uiTitle-icon"></i><span class="ml5 fz14">课程明细</span>
    </h2>
    <img src="${ctxStatic}/images/pic/fan.png" class="fr pointer closeFour pointer"/>

</div>

<div class="threeScroll pl10 pr5">

    <div class="analyItem">
        <p class="analyItemTit tx-center">信息</p>
        <div class="analyItemCon">
            <div class="clearfix">
                <p class="fl col-md-4">
                    <span class="cLightGray pr8">名称</span>
                    <span>课件名称</span>
                </p>
                <p class="col-md-4">
                    <span class="cLightGray pr8">上课时间</span>
                    <input value="${beginDate}" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'})" id="course_begin_date" type="text" class="dblText taskNameInput Wdate width100" placeholder="开始时间" pattern="yyyy-MM-dd">
                </p>

                <p class="fl col-md-4">
                    <span class="cLightGray pr8">上课地点</span>
                    <input id="course_place" type="text" value="${place}" class="width100 form-control">
                </p>
            </div>
        </div>
    </div>
</div>

<div class="boldTopLine pl10 pt10 pr5 threeCha">
    <div class="analyItem">
        <p class="analyItemTit tx-center">确认</p>
        <div class="analyItemCon clearfix">
            <div class="fr"><input type="button" value="确定" onclick="updateTrainCurriculum('${trainCurriculumEntity.id}');" class="fr uiBtn-small uiBtn-blue search-Btn"></div>
        </div>
    </div>
</div>
<script>
    //四段 教  上课时间 以及地点的修改 id 为train_curriculum表的id
    function updateTrainCurriculum(id) {
        var beginDate = $("#course_begin_date").val();
        var place = $("#course_place").val();
        if(beginDate == null || beginDate == ""){
            alert("请选择上课时间！");
            return;
        }else if(place == null || place == ""){
            alert("请输入上课地点！");
            return;
        }else{
            $.post("../train/updateTrainCurriculum",{id:id,beginDate:beginDate,place:place,classUuid:classUuid},function (data) {
                if(data == 1){//关闭四段
                    $(".closeFour").click();
                }
            });
        }
    }
</script>