<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		@include("/include/head.html"){}
		<script type="text/javascript" src="${ctxStatic}/common/jquery.rippleria.min.js?v=${verStatic}">//顶部导航点击背景圆圈效果</script>
	</head>
		<body class="logo-c000000 bar-cffffff nav-black nav-vertical" data-class="nav-vertical">
		<!--内容区 开始-->
		<div id="main_content" style="margin-left:0px;">
			<div class="clearfix pt10 pl10 pr10 relative">
				<!--左侧(一段列表为主)-->
				<div class="tc-left pr10 fl" id="rxprojectLeft"></div>
				<!--主视图（含：二段/三段）-->
				<div id="rxprojectMain"></div>
			</div>
		</div>
		<!--内容区 结束-->
	<script src="${ctxStatic}/js/modules/person/rxproject.js?v=${verStatic}" type="text/javascript" charset="utf-8">//针对本页面js</script>
	<script src="${ctxStatic}/js/modules/person/index.js?v=${verStatic}" type="text/javascript" charset="utf-8">//针对本页面js</script>
	<script>
		$(function(){
			$(".setup_nav").click();
			//页面加载1段
			$("#rxprojectLeft").load("one/list",function(){
				countLeft();
			});
			//加载二段主内容区
			$("#rxprojectMain").load("main",function(){
				countRight();
			});
		})

	</script>
	</body>
</html>
